body {
    background-color: #97999b;
    font-family: 'Alef', sans-serif;
    margin: 0;
}

.yellow {
    color: #f9e547;
}


/* style pour le nav et les links */

nav {
    background-color: #373a36;
    position: sticky;
    text-align: end;
}

nav a {
    font-size: 16px;
    float: right;
    color: #f9e547;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.leftFloat {
    float: left;
}

button.dropdownBouton {
    cursor: default;
    box-sizing: border-box;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-image: initial;
    background: inherit;
}

.dropdown {
    display: inline-block;
    overflow: hidden;
}

.dropdown .dropBouton {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    color: #f9e547;
}

.dropdownContenu {
    display: none;
    position: absolute;
    background-color: #373a36;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownContenu a {
    float: none;
    color: #f9e547;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdownContenu a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdownContenu {
    display: block;
}

.backgrounclor {
    margin-top: 250px;
    margin-left: 30px;
}

.cercle_service {
    position: relative;
    color: #f9e547;
    text-align: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 1px 1px 50px #f9e547;
    background-color: #6a6b6c;
}

.serviceoptimisation {
    padding-top: 55px;
    top: 30px;
    left: 60%;
}

.serviceformation {
    color: #6a6b6c;
    padding-top: 45px;
    background-color: #f9e547;
    width: 120px;
    height: 120px;
    box-shadow: 1px 1px 50px rgb(10, 10, 10);
    left: 100px;
}

.serviceAnalyse {
    padding-top: 55px;
    left: 180px;
    top: 55px;
}

.serviceweb {
    padding-top: 55px;
    left: 150px;
    top: 30px;
}

.serviceADS {
    padding-top: 45px;
    width: 120px;
    height: 120px;
    top: 30px
}

.serviceMarketing {
    color: #6a6b6c;
    padding-top: 50px;
    background-color: #f9e547;
    box-shadow: 1px 1px 50px rgb(10, 10, 10);
    left: 140px;
    top: 100px
}


/* *******animation cercle des services****** */

.cercle_service {
    transition: 1s all ease-in-out;
}

.cercle_service:hover {
    transition: 1s all ease-in-out;
    transform: scale(1.5);
}